/* Reset da página */
/*
* {
    margin: 0;
    padding: 0;
}
*/
body {
    background-color: #FFDAB9;
    color: #800000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    border: 1px solid;
}

.title {
    text-align: center;
    font-size: 50px;
}

.section-title {
    font-size: 30px;
}

.text-section {
    width: 48%;
    height: auto;
}

.text-section-left {
    float: left;
}

.text-section-right {
    float: right;
}

.clear {
    clear: both;
}