/* Reset da página */
/*
* {
    margin: 0;
    padding: 0;
}
*/
body {
    background-color: #FFDAB9;
    color: #800000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    border: 1px solid;
}

.title {
    text-align: center;
    font-size: 50px;
}

.section-title {
    font-size: 30px;
}

.text-section {
    width: 48%;
    height: auto;
}

.text-section-left {
    float: left;
}

.text-section-right {
    float: right;
}

.clear {
    clear: both;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin-right: 10px;
}

.area {
    position: relative;
    left: 3.5%;
    width: 650px;
    height: 100%;
}

.input-form {
    margin-bottom: 20px;
}

fieldset {
    border: solid;
    border-color: black;
}

legend {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.input-text {
    width: 500px;
    height: 20px;
}

.input-msg {
    width: 500px;
}